.fondoTut{
    background-color: #DFEEEA;  /*que es esto?*/
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    width: 101.2%;
    min-height: 40em;
    margin: -0.6%;
    padding-left: 4em;
    padding-right: 4em;
    margin-top: -0.5%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: -1%;
}

.cardCurso{
    padding-top: 1em;
    padding-bottom: 1em;
}

.fondIconos{
    font-size: 4em;
    align-self: center;
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.btnIconos{
    border:none;
    background-color: #DFEEEA;
    align-content: center;
    height: 5em;
    width: 5em;
    cursor: pointer;
  }

.seccTitulo{
    width: 75%;
}

.seccNotaNuevo{
    width: 20%;
    text-align: right;
}

.contCursosTutor{
    align-content: center;
    padding-left: 15em;
    padding-right: 15em;
}

.circRojo{
     width: 1em;
     height: 1em;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #FF2525;
}

.infoCurTutor{
    width: 70%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    font-size: 18px;
}
  
.imagenCurTutor{
    width: 35%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0;
    padding-left: 0.3em;
}

#imagenCursoCardTutor{
    height: 6em;
    width: 100%;
    object-fit: cover; 
  }

.tituloCursTutor{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}